<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="text-input">1. feladat - Text input</button>
    <button mat-button routerLink="/colorful-inputs">2. feladat - Colorful inputs</button>
    <button mat-button routerLink="/person">3. feladat - Person</button>
    <button mat-button routerLink="/number-writer">4. feladat - Number writer</button>
    <button mat-button routerLink="/calculator">5. feladat - Calculator</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
